@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

input {
  border: none; }

/* IMG */
img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block; }

:root {
  --color-background-page: #d8f3dc;
  --color-headers-titles: #081c15;
  --color-buttons-cta: #52b788;
  --color-navbar: #40916c;
  --color-text-navbar: #ffffff;
  --color-sidebar: #95d5b2;
  --color-footer: #081c15;
  --fontFamily-montserrat: "Montserrat Alternates", sans-serif;
  --font-size-titles: 20px
  --font-size-textBody: 16px
  --font-weight-title: 700
; }

body {
  background-color: var(--color-background-page);
  min-height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
  color: white; }
  body #section1 {
    background: linear-gradient(45deg, #52b788, #40916c, #081c15);
    height: 380px;
    border-radius: 0 0 0 130px; }
    body #section1 #navBar .navBar_menu {
      display: flex;
      column-gap: 8px;
      justify-content: end;
      padding: 5px; }
      body #section1 #navBar .navBar_menu li {
        padding-right: 3px;
        height: min-content;
        position: relative;
        padding-right: 2px; }
      body #section1 #navBar .navBar_menu li:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -3px;
        transform: translateY(-50%);
        height: 70%;
        width: 1px;
        background-color: var(--color-text-navbar);
        /* Color de la línea vertical */ }
    body #section1 .content {
      width: 200px;
      font-size: 28px;
      line-height: 40px;
      color: white;
      height: 40px;
      margin-top: 45px;
      margin-left: 60px; }
      body #section1 .content:before {
        content: '{';
        position: absolute;
        left: 35px;
        line-height: 40px; }
      body #section1 .content:after {
        content: '}';
        position: absolute;
        right: 45px;
        line-height: 40px; }
      body #section1 .content:after, body #section1 .content:before {
        color: var(--color-background-page);
        font-size: 35px;
        animation: 2s linear 0s normal none infinite opacity;
        animation: 2s ease-out 0s normal none infinite opacity;
        -moz-animation: 2s ease-out 0s normal none infinite opacity;
        -o-animation: 2s ease-out 0s normal none infinite opacity; }
      body #section1 .content .visible {
        float: left;
        font-weight: 600;
        overflow: hidden;
        height: 40px; }
      body #section1 .content p {
        display: inline;
        float: left;
        margin: 0; }
      body #section1 .content ul {
        width: max-content;
        margin-top: 0;
        padding-left: 85px;
        text-align: left;
        list-style: none;
        animation: 6s linear 0s normal none infinite change; }
      body #section1 .content ul li {
        line-height: 40px;
        margin: 0; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes change {
  0% {
    margin-top: 0; }
  15% {
    margin-top: 0; }
  25% {
    margin-top: -40px; }
  75% {
    margin-top: -40px; }
  85% {
    margin-top: -40px; }
  100% {
    margin-top: 0; } }
    body #section1 .presentation {
      font-size: 18px;
      font-weight: 600;
      text-align: end;
      margin: 35px 20px;
      letter-spacing: 1px; }
    body #section1 #introduction {
      width: 300px;
      background: linear-gradient(45deg, #40916c, #52b788, #95d5b2);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin: 45px auto;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 0 8px 10px -1px rgba(0, 0, 0, 0.5); }
      body #section1 #introduction .photoContainer img {
        box-shadow: 0 8px 10px -1px rgba(0, 0, 0, 0.5); }
      body #section1 #introduction .briefDescription {
        background-color: #081c15bd;
        color: white;
        font-weight: 400;
        letter-spacing: 1.5px;
        font-style: italic;
        width: 260px;
        text-align: left;
        margin: auto auto 15px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.5);
        border-radius: 5px; }
        body #section1 #introduction .briefDescription blockquote {
          text-align: left;
          line-height: 25px;
          display: flex;
          flex-direction: column; }
          body #section1 #introduction .briefDescription blockquote span {
            text-align: end;
            font-weight: 700; }
  body #section2, body #section3, body #section4 {
    margin-top: 350px; }
    body #section2 .divisionSec2, body #section3 .divisionSec2, body #section4 .divisionSec2, body #section4 .divisionSec4 {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: center;
      margin-bottom: 30px; }
      body #section2 .divisionSec2 .lineSec2, body #section3 .divisionSec2 .lineSec2, body #section4 .divisionSec2 .lineSec2, body #section4 .divisionSec4 .lineSec2, body #section4 .divisionSec4 .lineSec4 {
        border: none;
        border-top: 1px solid #081c15;
        width: 85px; }
      body #section2 .divisionSec2 h2, body #section3 .divisionSec2 h2, body #section4 .divisionSec2 h2, body #section4 .divisionSec4 h2 {
        color: #081c15;
        align-self: center;
        display: inline-block;
        font-size: 24px; }
    body #section2 .careers, body #section3 .careers, body #section4 .careers {
      width: 300px;
      background: linear-gradient(45deg, #40916c, #52b788, #95d5b2);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin: 40px auto;
      padding: 10px;
      border-radius: 20px; }
      body #section2 .careers .career, body #section3 .careers .career, body #section4 .careers .career {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        overflow: hidden; }
        body #section2 .careers .career #lineSec2_profesion, body #section3 .careers .career #lineSec2_profesion, body #section4 .careers .career #lineSec2_profesion {
          text-align: center;
          padding: 5px;
          color: #081c15;
          margin-bottom: 10px;
          font-size: 16px; }
        body #section2 .careers .career img, body #section3 .careers .career img, body #section4 .careers .career img {
          width: 100px;
          height: 100px;
          justify-self: center; }
        body #section2 .careers .career .focus-in-expand, body #section3 .careers .career .focus-in-expand, body #section4 .careers .career .focus-in-expand {
          animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0; }
  100% {
    filter: blur(0px);
    opacity: 1; } }
    body #section2 #aboutMe, body #section3 #aboutMe, body #section4 #aboutMe {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      color: #081c15;
      margin: 10px; }
      body #section2 #aboutMe p, body #section3 #aboutMe p, body #section4 #aboutMe p {
        padding-left: 5px;
        border-left: outset 2px;
        text-align: center;
        line-height: 25px; }
      body #section2 #aboutMe p:nth-child(2), body #section3 #aboutMe p:nth-child(2), body #section4 #aboutMe p:nth-child(2) {
        padding-left: 5px;
        display: none;
        text-align: left;
        border-right: outset 2px; }
  body #section3 {
    margin-top: 30px; }

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-250px * 5));
    transform: translateX(calc(-250px * 5)); } }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(110px); }
  100% {
    -webkit-transform: translateX(calc(-250px));
    transform: translateX(calc(-270px)); } }
    body #section3 .slider {
      background: linear-gradient(45deg, #52b788, #40916c);
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;
      display: flex; }
    body #section3 .slider::before, body #section3 .slider::after {
      background: linear-gradient(to right, #081c15, #52b7889a);
      content: "";
      height: 100px;
      position: absolute;
      width: 100px;
      z-index: 2; }
    body #section3 .slider::after {
      right: 0;
      top: 0;
      -webkit-transform: rotateZ(180deg);
      transform: rotateZ(180deg); }
    body #section3 .slider::before {
      left: 0;
      top: 0; }
    body #section3 .slider .slide-track {
      -webkit-animation: scroll 17s linear infinite;
      animation: scroll 17s linear infinite;
      display: flex;
      align-items: center;
      gap: 20px;
      width: calc(250px * 3);
      padding-left: 20px; }
    body #section3 .slider .slide {
      height: 50px;
      width: 50px; }
    body #section3 .slide img {
      height: 100%;
      width: 100%; }
  body #section4 {
    margin-top: 30px; }
    body #section4 .projects {
      display: flex;
      flex-direction: column; }
      body #section4 .projects blockquote {
        text-align: center;
        font-weight: 600;
        color: #081c15;
        width: 95%;
        margin-left: 8px;
        margin-bottom: 15px; }
      body #section4 .projects .iphone-border {
        margin: auto;
        width: 300px;
        /* Ancho del div */
        height: 500px;
        /* Alto del div */
        border-radius: 36px;
        /* Radio de la esquina */
        background-color: #000;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px; }
      body #section4 .projects .iphone-border::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
        border: 3px solid #666;
        /* Color del borde */
        border-radius: 30px;
        /* Radio del borde */
        box-sizing: border-box;
        z-index: 1; }
      body #section4 .projects .iphone-border::after {
        content: "";
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 6px;
        background-color: #666;
        /* Color de la barra inferior */
        border-radius: 3px;
        z-index: 1; }
      body #section4 .projects .screen {
        position: relative;
        overflow: hidden;
        width: 95.5%;
        height: 97.5%;
        border-radius: 34px;
        padding-left: 15px;
        padding-top: 11px; }
        body #section4 .projects .screen img {
          width: 100%;
          height: 100%;
          border-radius: 36px; }
      body #section4 .projects .screenProject2 {
        position: relative;
        overflow: hidden;
        width: 96%;
        height: 99%;
        border-radius: 36px;
        padding-left: 13px;
        padding-top: 12px;
        padding-bottom: 7px; }
      body #section4 .projects .screenProject3 {
        position: relative;
        overflow: hidden;
        width: 96%;
        height: 99%;
        border-radius: 36px;
        padding-left: 13px;
        padding-top: 12px;
        padding-bottom: 7px; }
  body #thankYou {
    padding: auto;
    margin: 20px 30px 60px 70px;
    color: #081c15; }
    body #thankYou p {
      text-justify: center;
      min-width: max-content; }
  body footer {
    background: linear-gradient(45deg, #000000, #40916c);
    display: flex;
    justify-content: center;
    border-radius: 0 120px 0 0; }
    body footer .socialMediaContact {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body footer .socialMediaContact p {
        text-align: left;
        justify-content: left;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 35px;
        padding: 6px;
        width: 95%; }
      body footer .socialMediaContact .divisionFooter {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin-bottom: 30px; }
        body footer .socialMediaContact .divisionFooter .lineSec {
          border: none;
          border-bottom: 1px solid #d8f3dc;
          width: 65px;
          margin-bottom: 12px; }
      body footer .socialMediaContact .socialMediaList {
        display: flex;
        gap: 18px;
        align-items: center;
        margin-bottom: 15px; }
        body footer .socialMediaContact .socialMediaList li {
          display: flex;
          align-items: center; }
